body {
  font-family: "Montserrat", sans-serif;
  background: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 1200px;
  height: 710px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  background: white;
}

.login-box {
  display: flex;
  width: 100%;
}

.left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h2 {
  margin-bottom: 20px;
}

.left input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.left button {
  padding: 20px;
  margin: 0px 170px;
  border: none;
  border-radius: 10px;
  background-color: #a5b5e0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px
}
.left button:hover {
  padding: 20px;
  margin: 0px 170px;
  border: none;
  border-radius: 10px;
  background-color: #4c63a4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px
}
.right {
  flex: 1;
  background: #a5b5e0;
  color: white;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error {
  color: red;
  margin-top: 10px;
}
/* MEDIA QUERIES CHO MÀN HÌNH NHỎ (ĐIỆN THOẠI) */
@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px 0;
  }

  .login-container {
    width: 100%;
    height: auto;
    flex-direction: column;
    box-shadow: none;
    border-radius: 0;
  }

  .login-box {
    flex-direction: column;
  }

  .left, .right {
    flex: none;
    width: 100%;
    padding: 20px;
  }

  .left button {
    margin: 20px auto 0 auto;
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  .left input {
    font-size: 16px;
  }
}